:root {
  --EGGSHELL: #f0eaae;
}

header {
	background-color: var(--EGGSHELL);
	
}
body {
	background-color:var(--EGGSHELL);
	opacity:0.5
}
/*
h1 {
	color: navy;
	margin-left: 20px;
}*/
footer{
	background-color: var(--EGGSHELL);
	opacity:0.7
}